#grid {
  display: grid;
  grid-template-columns:380px 1fr 280px;
  grid-template-rows:auto 1fr auto ;
}

#title{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #f7baba;
}
#score{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: #a4c4f6;
}
#stats{
  grid-row: 1 / 4;
  grid-column: 3 / 4;
  background-color: #f59df4;
}
#board{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #bcf9c9;
}
#controls{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #f7e898;
}
#section1{
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: #976923;
}
#section2{
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: #EC88E4;
}

